:root {
    --cyan-bg: rgba(0, 184, 148, 0.48);
    --cyan-bg-hover: rgba(0, 184, 148, 0.4);
    --cyan-bg-active: rgba(0, 184, 148, 0.5);
    --cyan-border: rgb(0, 184, 148);
    --cyan-border-hover: rgb(0, 224, 178);
    --cyan-border-active: rgb(0, 255, 200);
    --blue-bg: rgba(70, 170, 200, 0.48);
    --blue-bg-hover: rgba(70, 170, 200, 0.3);
    --blue-bg-active: rgba(70, 170, 200, 0.4);
    --blue-border: rgb(70, 170, 200);
    --blue-border-hover: rgb(100, 200, 230);
    --blue-border-active: rgb(100, 200, 230);
    --blue-color: rgb(180, 220, 240);
    --red-bg: rgba(231, 76, 60, 0.44);
    --red-bg-hover: rgba(231, 76, 60, 0.38);
    --red-bg-active: rgba(231, 76, 60, 0.4);
    --red-border: rgb(231, 76, 60);
    --red-border-hover: rgb(255, 100, 80);
    --red-border-active: rgb(255, 100, 80);
    --red-color: rgb(255, 180, 170);
    -unity-font-definition: url("project://database/Assets/_Source/Art/Fonts/Tektur-VariableFont_wdth,wght.ttf?fileID=12800000&guid=f22f7c504ae8bae488c80c7e91742461&type=3#Tektur-VariableFont_wdth,wght");
}
