.unity-toggle {
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0;
}

.unity-toggle .unity-toggle__checkmark {
    -unity-background-image-tint-color: var(--blue-color);
    background-color: var(--control-bg);
    border-color: var(--control-border-color);
    border-width: var(--common-border-width);
    border-radius: var(--control-radius);
}

.unity-toggle .unity-toggle__input:disabled .unity-toggle__checkmark {
    background-color: var(--control-bg);
    border-color: var(--control-border-color);
    opacity: 0.5;
} 

.unity-toggle .unity-toggle__input:enabled:hover > .unity-toggle__checkmark {
    border-color: var(--control-border-color);
    background-color: var(--control-bg-hover);
}

.unity-toggle .unity-toggle__input:checked:enabled:hover > .unity-toggle__checkmark {
    border-color: var(--control-border-color);
}

.unity-toggle .unity-toggle__input:checked > .unity-toggle__checkmark {
    border-color: var(--control-border-color);
}

.unity-toggle .unity-toggle__label {
    -unity-text-align: middle-right;
    font-size: var(--control-font-size);
    padding-right: 20px;
}

.unity-toggle .unity-toggle__input {
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
}
