.order-cloud__item-image {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.39);
    width: 30px;
    flex-shrink: 0;
    height: 30px;
    margin-left: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.order-cloud__images-container {
    flex-grow: 0;
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(236, 236, 236);
    border-right-color: rgb(236, 236, 236);
    border-top-color: rgb(236, 236, 236);
    border-bottom-color: rgb(236, 236, 236);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    flex-direction: row;
    align-self: flex-start;
    padding-right: 2px;
}
